# ---> ROS2
install/
log/
build/

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

interior_monitoring/
lane_detection/
localization/
v2x_receiver/
environment_model/
global_planning/
behavior_planning/
local_planning/
lateral_control/
longitudinal_control/
v2x_transmitter/
model_city_map/
car_description/
v2x/